#container {
    display:flex ;
}
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
}/* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

/* códig/* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 4rem;
}

/* código omitido */
o omitido */

/* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 4rem;
     gap: 3rem;
}

/* código omitido */
